@font-face {
    font-family: "Raleway";
    src: url("font/Raleway-VariableFont_wght.ttf");
}

.body {
    background-color: #D4EFE8;
    max-width: 1600px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
}

.container {
    margin-top: 60px;
}

.container_carousel {
    margin-top: inherit;
}

.line {
    margin-bottom: 50px;
}

/*хедер*/
.navbar {
    font-size: 32px;
    color: #439D87;
    background-color: #ffffff;
}

.navbar_logo {
    width: 114px;
    height: 114px;
}

.nav-item {
    padding-right: 5px;
}

/*основной блок*/
/*main-page*/
.col__name_article {
    font-size: 70px;
    color: #439D87;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
}

div {
    text-align: center;
}

.name {
    margin-bottom: 60px;
    font-size: 24px;
    text-align: center;
}

.photo {
    margin-bottom: 30px;

}

.paint {
    margin-bottom: 30px;
}



.fon_inder_text {
    background: #0000008a;
    border-radius: 10px;
    font-size: 36px;
}

/*факт дня*/
.col__name_fact {
    font-size: 70px;
    color: #ffffff;
    text-align: center;
}

.fon_fact {
    color: #ffffff;
    background-color: rgba(31, 138, 112, 0.8);
    font-size: 24px;
    text-align: center;
}

.fact_img {
    margin-bottom: 30px;
}

.text_fact {
    font-size: 24px;
    margin-bottom: 30px;

}

/*футер*/
.footer {
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    text-align: center;
}

.footer_logo {
    width: 189px;
    height: 200px;
    transition: 4s;
}

.footer_logo:hover {
    transform: rotate(720deg) scale(1.1);

    cursor: pointer;
}

.soc_net {
    width: 85px;
    height: 85px;
}

.footer-link {
    text-decoration: none;
}

/*модальное окно и выпадающие элементы*/
.modal-body {
    color: #439D87;
    font-size: 24px;
    background-color: #D4EFE8;
}

.card-body {
    background-color: #D4EFE8;
}

.offcanvas {
    background-color: #D4EFE8;
    font-size: 20px;
}

.forma {
    background-image: url("img/fact_of_the_day.png");
    border: 5px solid #439D87;
    border-radius: 10px;
    padding: 5px;
}

form {
    font-size: 24px;
}

option {
    font-size: 16px;
}

.name-of-form {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #439D87;
    text-transform: uppercase;

}

.text-404 {
    font-size: 250px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 5px 5px 2px #439D87;
}

.logo-404 {
    transition: 3s;
}

.logo-404:hover {
    transform: rotate(360deg);

    cursor: pointer;
}

.link-404 {
    text-decoration: none;
}

/*ссылки*/
a:hover {
    transform: scale(1.1);
    text-decoration: none;

}

.style-window:hover {
    transform: scale(1.1);
    cursor: pointer;
    caret-color: #439D87;
}

.nav-link:hover {
    border-bottom: 3px dashed #439D87;
    transform: scale(1.1);
}
